<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <title>Weather Page</title>
    <meta https-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/weather_style.css" media="all" />
    <link rel="stylesheet" href="../css/weather_style1.css">

    <!-- Angular JS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="../js/weather_controller.js"></script>

</head>

<body ng-controller="DataControler">
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	iWeather
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="../views/home_page.html">Home</a>
                    </li>
                    <li>
                        <a href="../views/weather_page.html">Weathers</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="../views/bookmark.html">My Bookmark</a></li>
                            <li><a href="../views/account.html">My Account</a></li>
                        </ul>
                    </li>
                    <li id="login_register">
                        <a href="../views/LoginAndRegister.html">Login/Register</a>
                    </li>
                    <li id="logout">
                        <a href="#" onclick="clearStore()">Log Out</a>
                    </li>
                    <li id="greeting">
                        <a>Welcome back, <script type="text/javascript">
                            document.write(localStorage.getItem("username"));
                        </script></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- main -->
    <header>
        <div class="main-agileits">
            <h1>Search City's Weather</h1>
            <div align="center" class="main-wthree-row">
                <input type="text" name="city" id="city" placeholder="Input City here..." required>
                <script src="../js/index.js"></script>
                <select name="units" id="units">
                    <option><b>Kelvin</b></option>
        		    <option>Metric: Celsius</option>
        		    <option>Imperial: Fahrenheit</option>
                </select>
                <br />
                <input type="submit" value="Search" id="search">
            </div>
            <div class="main-wthree-row">
                <div class="agileinfo-text">
                    <!-- city -->
                    <h4>{{cityName}}</h4>
                    <!-- temp -->
                    <h2>{{temp}}<span>°</span></h2>
                    <!-- min ~ max -->
                    <h4>{{min}}<span>°</span> ~ {{max}}<span>°</span></h4>
                    <!-- desc -->
                    <h6>{{desc}}</h6>
                    <!-- icon -->
                    <img src="{{iconUrl}}" width="150" height="150" />
                    <input type="button" value="Add to bookmark" id="bookmark">
                </div>
            </div>
        </div>
    </header>
    <!-- copyrights -->
    <footer class="page-footer">
        <!-- Copyright etc -->
        <div class="copy-rights wthree">
            <p>Copyright &copy; iWeather.com 2018</p>
        </div>
    </footer>
    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
        if (localStorage.getItem("username") == null) {
            // Show Login/Register  Hide logout and greeting
            $('#login_register').show();
            $('#logout').hide();
            $('#greeting').hide();
        }
        else {
            // Show greeting message & Log Out  Hide Login/Register
            $('#logout').show();
            $('#greeting').show();
            $('#login_register').hide();
        }

        function clearStore() {
            // Clear storage
            localStorage.clear();
            $('#login_register').show();
            $('#logout').hide();
            $('#greeting').hide();
            window.location.href = "../views/LoginAndRegister.html";
        }
    </script>
</body>

</html>
